#navbarNav ul li:hover {
    background-color: aquamarine;
}

main h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px blue;
}

section h2 {
    color: blue;
    border: .25rem solid blue;
}